body {
  background-color: black;
  color: white;
}

.jumbotron {
  color:black;
}

#under18 {
  display: none;
}

#over18 {
  display: none;
}

.west {
  display: none;
}

.mid {
  display: none;
}

.east {
  display: none;
}
